# Base de datos PostgreSQL
DB_NAME=sigec_db
DB_USER=postgres
DB_PASSWORD=contraseña
DB_HOST=localhost
DB_PORT=5432

# Django
DEBUG=True
SECRET_KEY=django-insecure-cambia-esto-por-una-clave-muy-larga-y-segura-en-produccion

# Otros (los iremos agregando después)
ALLOWED_HOSTS=localhost,127.0.0.1