# sigec/.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
*.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
backups/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Celery / Redis
celerybeat-schedule
celerybeat.pid

# Django Ninja / Cache
.cache/